OPENAI_API_KEY=3D1jQGCYEK4j8UfGyIVLeUAtXchSb0vGvrr87htCaWWsnEZZoKKuxu3iU_y3_SXQ__nWhORTXGT3BlbkFJh3sxCHyysKWi4fz9DOSaLh86nuq9_SxyiEbRJ_vjkQDsrF9JPpI0_pOjbAVujkbbKXmO_ParEA
VITE_CHAT_API_URL=/api/chat
